# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  ubuntu-build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Runs a set of commands using the runners shell
      - name: gen makefile and make
        run: mkdir build && cd build && mkdir makefile && cd makefile && cmake ../../ && make
        
      - uses: actions/upload-artifact@v2
        with:
          path: /home/runner/work/SimpleCC/SimpleCC/build/makefile/scc
  windows-build: 
    runs-on: windows-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: microsoft/setup-msbuild@v1.0.2
      # Runs a set of commands using the runners shell
      - name: gen sln and build
        run: mkdir build && cd build && mkdir VS2019 && cd VS2019 && cmake ../../ && msbuild scc.sln
        
      - uses: actions/upload-artifact@v2
        with:
          path: "D:/a/SimpleCC/SimpleCC/build/VS2019/Debug/scc.exe"
  macos-build: 
    runs-on: macos-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2 
      - name: gen makefile and build
        run: mkdir build && cd build && mkdir makefile && cd makefile && cmake ../../ && make && pwd
      - uses: actions/upload-artifact@v2
        with:
          path: /Users/runner/work/SimpleCC/SimpleCC/build/makefile/scc
